:root {
    --logo-and-hover-color: #2196F3;
    --white-color: #ffffff;
    --links-color: #212121;
    --text-color: #757575;
    --hero-bg: #2F303A;
    --what-we-do-bg: #E5E5E5;
    --our-team-bg: #F5F4FA;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    font-size: 14px;
    color: var(--text-color);
    letter-spacing: 0.03em;
    line-height: 1.14;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.section {
    padding: 94px 0;
}

/* header style */
.page-header {
    background-color: var(--white-color);
    padding: 24px 161px 25px 161px;
    /* am calculat dimensiunile ca sa corespunda pt width de 1200px 
    in loc de 1600 cat este in figma */
    border-bottom: 1px solid #ECECEC;
}

.page-header .container {
    align-items: center;
}

.logo-anchor {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    font-weight: 700;
    margin-right: 69px;
}

.logo-anchor span {
    color: var(--logo-and-hover-color);
}

.nav-links {
    letter-spacing: 0.02em;
    color: var(--links-color);
    font-weight: 500;   
    display: flex;
    gap: 37px; 
}

.header-contact {
    margin-left: auto;
    display: flex;
    gap: 30px;
}

.mail,
.phone {
    letter-spacing: 0.02em;
    color: var(--links-color);
    font-weight: 500;
    color: var(--text-color);
}

.logo-anchor:hover,
.logo-anchor:focus {
    color: var(--logo-and-hover-color);
}

.nav-links a:hover,
.nav-links a:focus {
    color: var(--logo-and-hover-color);
}

.mail:hover,
.mail:focus {
    color: var(--logo-and-hover-color);
}

.phone:hover,
.phone:focus {
    color: var(--logo-and-hover-color);
}

.undecorate-text {
    text-decoration: none;
}

.unstyle-list {
    list-style-type: none;
}

/* ---- hero style ----- */

.hero-section {
    background-color: var(--hero-bg);
    padding: 200px 0;
    text-align: center;
}

.hero-section .container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.hero-title {
    color: var(--white-color);
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    font-weight: 900;
}

.hero-button {
    background-color: var(--logo-and-hover-color);
    color: var(--white-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 10px 20px;
    width: fit-content;
}

.hero-button:hover,
.hero-button:focus {
    cursor: pointer;
}

/* ----- our characteristics style ------- */

.characteristics,
.what-we-do {
    background-color: var(--what-we-do-bg);
}

.characteristics,
.what-we-do,
.team-members {
    padding-left: 161px;
    padding-right: 161px;
}

.characteristics ul {
    display: flex;
    gap: 22px;
}

.description-title {
    font-weight: 700;
    color: var(--links-color);
}

.description-text {
    line-height: 1.71;
    margin-top: 10px;
}

/* ----- what we do style ------- */

.what-we-do-title,
.team-members-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.what-we-do .container{
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.presentation-image {
    display: flex;
    gap: 25px;
}



.what-we-do-image {
  width: 295px;
}


/* ------ our team section style ------ */

.team-members {
    background-color: var(--our-team-bg);
}

.team-card {
    background-color: var(--white-color);

}

.person-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--links-color);
}

.person-job {
    font-size: 16px;
    line-height: 1.18;
}

/* ----- footer style ------ */

.page-footer {
    background-color: var(--hero-bg);
}

.footer-address {
    color: var(--white-color);
    font-style: normal;
}

.footer-mail,
.footer-phone {
    color: rgba(255, 255, 255, 0.6);
}

.footer-logo {
    color: var(--white-color);
}

.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus {
    color: var(--logo-and-hover-color);
}

/*    ------- portofolio style --------- */
/* styling filter buttons */

.filter-item {
    color: var(--links-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background-color: #F5F4FA;
}

.filter-item:hover,
.filter-item:focus {
    background-color: var(--logo-and-hover-color);
    color: var(--white-color);
}

/* cards style */

.portofoli-card {
    background-color: var(--white-color);
}

.portofolio-card-name {
    color: var(--links-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.portofolio-card-description {
    font-size: 16px;
    line-height: 1.87;
}